<div class="fullscreen">
  <div class="start container text-center">
    <img class="circle img" src="assets/profile750.webp" alt="Roberto Roig Pedro">
    <div class="textbox">
      <a class="typewrite text-white" data-period="2000" data-type='[ "Roberto Roig Pedro", "Portfolio", "Web Developer", "Web Design"]'>
        <span class="wrap center"></span>
      </a>
    </div>
    <div class="container buttons">
      <div class="row">
        <div class="col-3"></div>
        <div class="col-3">
          <button id="btn"><i class="fas fa-bars text-white"></i></button>
        </div>
        <div class="col-3">
          <button><i class="fas fa-chevron-right text-white"></i></button>
        </div>
        <div class="col-3"></div>
      </div>
    </div>
  </div>

  <div class="copyright text-white-50">
    <p class="text-center">Made by Roberto Roig Pedro - <a class="text-white" href="https://github.io/robertoroig">GitHub</a></p>
  </div>
</div>

<div class="static" [ngClass]="{show: menu, hide: !menu}">
  <a href="#" class="dropdown-item">Proyectos</a>
  <a href="#" class="dropdown-item">Sobre mi</a>
  <div class="dropdown-divider"></div>
  <a href="#" class="dropdown-item">Contacto</a>
</div>
